@model IEnumerable<Project_BerrrasBio.Models.Show>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ShowTime)*@
                @Html.ActionLink("ShowTime", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon.Seats)

            </th>
            <th>
                seats left
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salon.Name)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Salon.Seats)
                </td>
                <td>
                    @{
                        int countBookings = (int)item.Salon.Seats;
                        
                        foreach (Booking b in item.Bookings) // booking
                        {
                            countBookings = countBookings - (int)b.NumOfSeats;


                        }

                        @countBookings

                    }

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }


        @* @foreach (var item in Model)
            {
            <tr>
            <td>
            @Html.DisplayFor(modelItem => item.ShowTime)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Salon.Name)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Salon.Seats)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Movie.Price)
            </td>
            <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            </tr>
            }*@
    </tbody>
</table>
