@model IEnumerable<Project_BerrrasBio.Models.Show>


@{
    ViewData["Title"] = "Index";
    int SpareBookings = 0;
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong>@TempData["AlertMessage"]
    </div>

}


<h1>Shows</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="myTable">
    <thead>
                <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowTime)
                @*@Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSort })*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSeats)
                @*@Html.ActionLink("Seats", "Index", new { sortOrder = ViewBag.SeatSort })*@
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.ShowTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salon.Name)
                </td>
                <td>
                    @{
                        item.AvailableSeats = (int)item.Salon.Seats;
                        foreach (Booking b in item.Bookings)
                        {
                            item.AvailableSeats = item.AvailableSeats - b.NumOfSeats;
                        }
                        
                        
                       
                    } 
                    @item.AvailableSeats /  @Html.DisplayFor(modelItem => item.Salon.Seats)
                </td>
                <td>
                    @{
                        if (item.AvailableSeats <= @SpareBookings)
                        {
                            <a asp-area="" asp-controller="Bookings" asp-action="@item.Id" class="btn btn-outline-dark disabled" role="button" aria-disabled="true">Book Now</a>
                            //<button type="button" class="btn btn-outline-dark" disabled>Full</button>
                        }
                        else
                        {
                            <a asp-area="" asp-route-id="@item.Id" asp-controller="Bookings" asp-action="Create" class="btn btn-outline-primary" role="button">Book Now</a>

                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
<script>$(document).ready( function () {
    $('#myTable').DataTable();
} );</script>